@import url('http://fonts.cdnfonts.com/css/lexend-deca');
*{
  margin: 0%;
  padding: 0%;
  color: #99E6FA;
  font-family: 'Lexend Deca', sans-serif;
}
.img{
    margin-top: 1rem;
    align-items: center;
    position: absolute;
    top: 20px;
    left: 50px;
    display: flex;
    width: 100vh;
    flex-direction: row;
}
.social a {
  font-size: 2rem;
  margin-left : 1rem;
}
.img img{
  height: 65px;
  margin-right: auto;
  /* color: ; */
}
.page-container{
  display: grid;
  height: 100vh;
  padding-left: 0%;
  padding-right: 0%;
  grid-template-columns: 60% 40%;
  margin: auto;
}
.content{
  background-color: #081518;
  /* padding: 0 10em; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 12em;
}
.image{
  background: url("./img/landing1.jpg");
  background-position: center;
  background-size: 82%
}
h3{
  font-size: 4.5em;
}
.text{
  width: 66%;
  margin-top: 1em;
}
.buttons{
  margin-top: 3em;
}
.btn{
  background-color: #081518;
  border-color: #99E6FA;
  border-radius: 2px;
  text-decoration: none;
  width: 145px;
  margin: 0 10px;
  height: 38px;
  color: #99E6FA;
  font-size: 0.9em;
  font-weight: 200;
  transition: all 0.4s ease;
}
.btn:hover{
  cursor: pointer;
  background-color:#99E6FA ;
  color: #081518;
  box-shadow: inset 145px 0 0 0 #99E6FA;
}
.App{
  background-color: #081518;
  height: 100vh;
  /* display: flex; */
}
.App-header{
  display: flex;
  align-items: center;
  justify-self: center;
  height : calc(100vh - 48px);
}
.backArrow{
  border-color: #99E6FA;
  border-radius: 2px;
  text-decoration: none;
  width: 145px;
  margin: 0 10px;
  height: 38px;
  color: #99E6FA;
  font-size: 2em;
  font-weight: 200;
}
